.feedbackList {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  transition-duration: 300ms;
  border-radius: 5px;
  border-style: hidden;
  padding: 5px 10px;
  background-color: rgb(31, 116, 173);
  color: aliceblue;
}
.btn:hover {
  background: linear-gradient(to bottom, #0033cc 40%, #ffff00 93%);
  color: white;
    transform: scale(1.1);
}


/* .btn:hover {
  transform: scale(1.1);
} */

@media (min-width: 768px) {
  .btn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
